.Button {
  display: inline-block;
  padding: 1em 1.5em;
  vertical-align: top;
  color: DodgerBlue;
  background-color: transparent;
  border-color: DodgerBlue;
  border-style: solid;
  border-width: 0.0625em;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  transition: all 200ms ease;
}

.Button:hover {
  color: #fff;
  background-color: DodgerBlue;
  border-color: DodgerBlue;
  border-style: solid;
  border-width: 0.0625em;
  text-decoration: none;
}

.Button:focus, .Button:active {
  color: #fff;
  background-color: DodgerBlue;
  border-color: DodgerBlue;
  border-style: solid;
  border-width: 0.0625em;
  text-decoration: none;
  box-shadow: inset 0 0 0.6em rgba(0,0,0,0.1);
  outline: none;
}

.Button + .Button {
  margin-left: 1em;
}

/* Sizes
   ----- */
.Button.-sm {
  padding: 0.5em 1em;
  font-size: 0.667em;
}

.Button.-md {
  font-size: 1em;
}

.Button.-lg {
  font-size: 1.25em;
}

/* Color Schemes
   ------------- */
.Button.-gray {
  border-color: rgb(169, 169, 169);
  color: rgb(169, 169, 169);
}

.Button.-gray:hover {
  background-color: rgb(159, 159, 159);
  border-color: rgb(159, 159, 159);
  color: #fff;
}

.Button.-gray:focus, .Button.-gray:active {
  background-color: rgb(159, 159, 159);
  border-color: rgb(159, 159, 159);
  color: #fff;
}

.Button.-blue {
  background-color: rgb(30, 144, 255);
}

.Button.-blue:hover {
  background-color: rgb(20, 134, 245);
}

.Button.-blue:focus, .Button.-blue:active {
  background-color: rgb(20, 134, 245);
}

.Button.-inverted {
  color: #fff;
  border-color: transparent;
}

.Button.-inverted.-gray {
  background-color: rgb(169, 169, 169);
}

.Button.-inverted:hover {
  color: #fff;
  border-color: transparent;
}

.Button.-inverted.-gray:hover {
  background-color: rgb(159, 159, 159);
}

.Button.-inverted:focus, .Button.-inverted:active {
  color: #fff;
  border-color: transparent;
}

.Button.-inverted.-gray:focus, .Button.-inverted.-gray:active {
  background-color: rgb(159, 159, 159);
}
